[Unit]
Description=Temperature logger initialization

[Service]
Type=simple
ExecStart=/home/root/temp_logger/scripts/temp_logger_init.sh

[Install]
WantedBy=default.target

